@import url('https://fonts.googleapis.com/css2?family=Anton&family=Comfortaa:wght@300&display=swap');

body {
    background: linear-gradient(to right, #d1e3f3,  #f8fdfd);
    color: rgb(75, 84, 139);
    font-family: 'Comfortaa', cursive;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    transition: all 1s;
}

.image:hover {
    opacity: 0.5;
    transform: scale(1.1);
}  
  
.h1 {
    text-shadow: 0 2px rgb(97, 168, 153);
    font-weight: 700;
}
  
@media (max-width: 770px) {
    .container {
        margin: 0 10%;
    }

    .image {
        width: 50px;
        height: 50px;
    }
}